

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custom CSS for submenu positioning */
.menu-submenu {
  position: relative;
}

.menu-submenu .chakra-menu__menu-list {
  position: absolute;
  top: 0;
  left: 100%; /* Position the submenu to the right */
  display: none; /* Hide submenu by default */
}

.menu-submenu:hover .chakra-menu__menu-list {
  display: block; /* Display submenu on hover */
}
